body {
    background-color: antiquewhite;
    width: 100%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(8, 78, 8);
    color:antiquewhite;
    display: block;
    position: fixed;
    width: 100%;
    margin-left: 0%;
}

.head_line, .navigation, .head_list2 {
    display: block;
    width: 100%;
}

.company_name {
    display: inline-block;
    width: 40%;
    font-size: 30px;
    margin-left: 2%;
}

.head_par {
    margin: 0%;
}

.logo_head {
    display: inline-block;
    margin-left: 3.5%;
    margin-top: 2.5%;
}

.company_name, .user {
    margin-top: 3.5%;
    vertical-align: top;
}

.user, .head_list1 {
    display: inline-block;
    width: 45%;
    text-align: right;
}

ul.head_list2 {
    font-weight: bold;
}

.user_li {
    display: inline-block;
    padding-right: 3%;
}

.a_nav {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
}

.navigation {
    text-align: center;
}

.footer_style {
    background-color: rgb(8, 78, 8);
    color:antiquewhite;
    display: block;
}

.footer_blocks {
    display: inline-block;
    justify-content: space-around;
    width: 15%;
    vertical-align: top;
    margin: 1%;
    padding: 1%;
    font-size: smaller;
}

.footers_heading {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 40px;
}

.a_foot {
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    text-align: left;
}

.img_foot {
    vertical-align: middle;
}

.copy1, .copy2 {
    text-align: center;
    display: block;
}

a:hover {
    color: yellowgreen;
}

#wolf_foot_logo, #boot_foot_logo {
    display: inline-block; 
    width: 15%;
}

#top {
    margin-left: 90%;
    width: 8%;
}