/*BACKGROUND*/

* {
    background-image: url("/theme/img/back1.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

header, body, footer {
    display: block;
    background-color: rgb(14, 74, 46);
    color: antiquewhite;
}

